<div class="">
    <div class="ps-4 py-5">
        <h4 class="text-white ps-3">Book</h4>
        <ul class="mt-5 p-0">
            <li class="ps-3 py-3">
                <a class="text-decoration-none" href="">
                    <div class="d-flex align-items-center">
                        <i class='bx bx-home fs-3'></i>
                        <span class="ms-3">Home</span>
                    </div>
                </a>
            </li>
            <li class="ps-3 py-3">
                <a class="text-decoration-none" href="">
                    <div class="d-flex align-items-center">
                        <i class='bx bx-search fs-3'></i>
                        <span class="ms-3">Discover</span>
                    </div>
                </a>
            </li>
            <li class="ps-3 py-3">
                <a class="text-decoration-none" href="">
                    <div class="d-flex align-items-center">
                        <i class='bx bxs-shopping-bags fs-3'></i>
                        <span class="ms-3">Categori</span>
                    </div>
                </a>
            </li>
            <li class="ps-3 py-3">
                <a class="text-decoration-none" href="">
                    <div class="d-flex align-items-center">
                        <i class='bx bx-user-pin fs-3'></i>
                        <span class="ms-3">Mis clientes</span>
                    </div>
                </a>
            </li>
            <li class="ps-3 py-3">
                <a class="text-decoration-none" href="">
                    <div class="d-flex align-items-center">
                        <i class='bx bx-bar-chart fs-3'></i>
                        <span class="ms-3">Ventas</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>