<div class="w-100 pt-5 ps-3 pe-5">
    <div class="user-nav d-flex align-items-center justify-content-between w-50 ms-auto">
        <div class="">
            <i class='bx bx-cart-alt'></i>
        </div>
        <div class="">
            <i class='bx bx-bell'></i>
        </div>
        <div class="user-box">
            <img src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="" style="">
        </div>
    </div>

    <div class="read-detail p-4 mt-5">
        <h3>Details</h3>
        <div class="row mt-3">
            <div class="col-md-6">
                <p>Language</p>
                <span>English</span>
            </div>
            <div class="col-md-6">
                <p>Paperpage</p>
                <span>402</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <p>Mark</p>
                <span>2.450</span>
            </div>
            <div class="col-md-6">
                <p>Publishar</p>
                <span>Jane doe, 20</span>
            </div>
        </div>
    </div>

    <div class="featured-book mt-5">
        <h2 class="title">Featured book</h2>
        <div class="row align-items-center featured-book_item">
            <div class="col-md-4 h-100 d-flex align-items-center">
                <img src="https://m.media-amazon.com/images/I/61wGEmQTi1L._SY466_.jpg" alt="" style="">
            </div>
            <div class="col-md-7">
                <h4 class="featured-book_title">The Boy, the Bird and the Coffin</h4>
                <div class="d-flex align-items-center">
                    <div class="">
                        <i class='bx bxs-star text-warning'></i>
                        <i class='bx bxs-star text-warning'></i>
                        <i class='bx bxs-star text-warning'></i>
                        <i class='bx bxs-star text-warning'></i>
                        <i class='bx bxs-star text-warning'></i>
                    </div>
                    <span class="ms-2 number-rate">(26)</span>
                </div>
            </div>
            <div class="col-md-1">
                <i class='bx bx-chevron-right featured-book_direct'></i>
            </div>
        </div>
        <div class="row align-items-center mt-3 featured-book_item">
            <div class="col-md-4 h-100 d-flex align-items-center">
                <img src="https://i.pinimg.com/736x/c1/0d/32/c10d3284c13ebc33035a7d591551dc0d.jpg" alt="">
            </div>
            <div class="col-md-7">
                <h4 class="featured-book_title">The Boy, the Bird and the Coffin</h4>
                <div class="d-flex align-items-center">
                    <div class="">
                        <i class='bx bxs-star text-warning'></i>
                        <i class='bx bxs-star text-warning'></i>
                        <i class='bx bxs-star text-warning'></i>
                        <i class='bx bxs-star text-warning'></i>
                        <i class='bx bxs-star text-warning'></i>
                    </div>
                    <span class="ms-2 number-rate">(26)</span>
                </div>
            </div>
            <div class="col-md-1">
                <i class='bx bx-chevron-right featured-book_direct'></i>
            </div>
        </div>
        <div class="row align-items-center mt-3 featured-book_item">
            <div class="col-md-4 h-100 d-flex align-items-center">
                <img src="https://img.wattpad.com/cover/261976792-288-k541384.jpg" alt="" style="">
            </div>
            <div class="col-md-7">
                <h4 class="featured-book_title">The Boy, the Bird and the Coffin</h4>
                <div class="d-flex align-items-center">
                    <div class="">
                        <i class='bx bxs-star text-warning'></i>
                        <i class='bx bxs-star text-warning'></i>
                        <i class='bx bxs-star text-warning'></i>
                        <i class='bx bxs-star text-warning'></i>
                        <i class='bx bxs-star text-warning'></i>
                    </div>
                    <span class="ms-2 number-rate">(26)</span>
                </div>
            </div>
            <div class="col-md-1">
                <i class='bx bx-chevron-right featured-book_direct'></i>
            </div>
        </div>
        <div class="text-end">
            <span class="view-all">View all</span>
        </div>
    </div>

    <div class="offer">
        <h2 class="title">Special Offer</h2>
        <div class="row p-4 offer-box align-items-center mt-4">
            <div class="col-md-7 offer-content">
                50% discount our book
            </div>
            <div class="col-md-5">
                <img src="https://conneqtiongroup.com/wp-content/uploads/2023/03/Nerd-amico.png" alt="">
            </div>
        </div>
    </div>
</div>