<div class="px-4">
    <div class="input-group mb-3 box-search mt-5">
        <span class="input-group-text">
            <i class='bx bx-search'></i>
        </span>
        <input type="text" class="form-control py-2 ps-0" placeholder="Search your favourite book">
    </div>
    <div class="banner mt-5 p-5 rounded-4">
        <div class="main-banner row">
            <div class="col-md-7">
                <h2 class="text-white">We are award winner top rated book.</h2>
                <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat delectus pariatur
                    cumque? Amet
                    totam porro nihil?</p>
                <div class="">
                    <button class="addBtn px-3 py-2 rounded-3">Add to Cart</button>
                    <button class="buyBtn px-3 py-2 rounded-3 ms-3">Buy Now</button>
                </div>
            </div>
            <div class="col-md-5">
                <img src="https://www.onlineeducationfacts.com/wp-content/uploads/sites/713/2021/02/home-img.png" alt=""
                    class="banner-img">
            </div>
        </div>
    </div>
    <div class="categories">
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="my-5 categories-title">Categories</h4>
            <div class="cat-filter">
                <select name="" id="" class="">
                    <option value="" selected>Newest</option>
                    <option value="">Oldest</option>
                </select>
            </div>
        </div>
        <div class="list-trend">
            <div class="trend-item d-flex align-items-center">
                <img src="https://m.media-amazon.com/images/I/61wGEmQTi1L._SY466_.jpg" alt="">
                <div class="trend-content ms-4">
                    <h4 class="">The Boy, the Bird and the Coffin</h4>
                    <p class="trend-des">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente officia
                    </p>
                    <div class="d-flex align-items-center">
                        <div class="">
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                        </div>
                        <span class="ms-2 number-rate">(26)</span>
                    </div>
                </div>
            </div>
            <div class="trend-item d-flex align-items-center">
                <img src="https://i.pinimg.com/736x/c1/0d/32/c10d3284c13ebc33035a7d591551dc0d.jpg" alt="">
                <div class="trend-content ms-4">
                    <h4 class="">The Boy, the Bird and the Coffin</h4>
                    <p class="trend-des">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente officia
                    </p>
                    <div class="d-flex align-items-center">
                        <div class="">
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                        </div>
                        <span class="ms-2 number-rate">(26)</span>
                    </div>
                </div>
            </div>
            <div class="trend-item d-flex align-items-center">
                <img src="https://m.media-amazon.com/images/I/61wGEmQTi1L._SY466_.jpg" alt="">
                <div class="trend-content ms-4">
                    <h4 class="">The Boy, the Bird and the Coffin</h4>
                    <p class="trend-des">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente officia
                    </p>
                    <div class="d-flex align-items-center">
                        <div class="">
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                        </div>
                        <span class="ms-2 number-rate">(26)</span>
                    </div>
                </div>
            </div>
            <div class="trend-item d-flex align-items-center">
                <img src="https://m.media-amazon.com/images/I/61wGEmQTi1L._SY466_.jpg" alt="">
                <div class="trend-content ms-4">
                    <h4 class="">The Boy, the Bird and the Coffin</h4>
                    <p class="trend-des">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente officia
                    </p>
                    <div class="d-flex align-items-center">
                        <div class="">
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                        </div>
                        <span class="ms-2 number-rate">(26)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="topwriter mt-5">
        <h4 class="my-5 categories-title">Top Write</h4>
    </div>

</div>